@use 'colors' as *;
@use 'variables' as *;

.card-watch {
    border-radius: $default_border_radius;
    padding: 0.5rem 0.7rem;
    text-decoration: none;
    font-weight: $fw_semi_bold;

    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }
}

// MEDIA QUERIES
@media (max-width: 767px) {
  .card-watch .material-symbols-rounded {
    font-size: 1.3rem !important;
  }

  .watch-title {
    font-size: 0.8rem !important;
  }
}
