@use 'colors.scss' as *;
@use 'variables' as *;

#container-header {
    background-color: $secondary-dark;
    padding: 0.7rem 2rem;
    margin-bottom: 4rem;

    span {
        font-size: 1.5rem;
        font-weight: 900;
    }

    img {
        width: 10rem;
        height: 2rem;
    }   
}

.box-menu-items {
    a {
        color: $text-primary-color;
        padding: 1rem 1.5rem;
        border-radius: $default_border_radius;
        text-decoration: none;
    }


    a:hover {
        background-color: $base-color;
    }
}


// MEDIA QUERIES 
@media (max-width: 767px) {
  .container-header {
    flex-direction: column !important;
    gap: 1rem;
    margin-bottom: 0.2rem !important;
  }

  .box-logo {
    padding-top: 1rem;
  }

  .box-menu-items {
    gap: 0.2rem !important;
    width: 100%;
    justify-content: space-between;

    a {
        padding: 0.5rem 0.2rem;
    }
  }


}