@use 'colors' as *;
@use 'variables' as *;

.title-page {
    font-size: 1.7rem;
}

.category-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 2rem;
}

.category-title {
    color: $aux-color-secondary;
    font-weight: $fw_bold;
}

.message-changes {
    font-size: 0.8rem;
    color: $text-semi-dark-gray;
}



.content-layout {
    align-items: flex-start;
    
    .races-section {
        min-width: 0; 
    }
    
    .infos-section {
        flex: 0 0 400px; 
        min-width: 350px;
    }

     .news-box {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
        gap: 10px;
    }

}




// MEDIA QUERIES 
@media (max-width: 767px) {
    .title-page {
        text-align: center;
        width: 100%;
    }

    .category-container {
        margin-top: 2rem;
        width: 100% !important;
        padding: 0 1rem;
    }

    // Layout responsivo - empilhar verticalmente em mobile
    .content-layout {
        flex-direction: column !important;
        gap: 1.5rem !important;
        
        .infos-section {
            flex: none !important;
            min-width: auto !important;
            width: 100%;
        
        }

        .news-box {
            margin-top: 1rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            border: 2px solid red;
        }
    }


}