@use 'colors' as *;
@use 'variables' as *;


::ng-deep .p-menu {
    background-color: $secondary-color !important; 

    .p-menu-item-content {
        padding: 0.6rem 0.2rem;

        &:hover {
            background-color: $aux-color-dark !important;
        }
    }

    .p-menu-item.p-focus .p-menu-item-content {
        background-color: $aux-color-dark !important;
    }
}

::ng-deep .badge-menu {
    background-color: $aux-color-dark !important;
    color: white !important;
}

.title-page {
    font-size: 1.7rem;
}

.category-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 2rem;
}

.category-title {
    color: $aux-color-secondary;
    font-weight: $fw_bold;
}

.message-changes {
    font-size: 0.8rem;
    color: $text-semi-dark-gray;
}

.btn-categories-mobile {
    display: none;
}




// MEDIA QUERIES 
@media (max-width: 767px) {
    .title-page {
        text-align: center;
        width: 100%;
    }

    .menu-container {
        display: none;
    }

    .category-container {
        margin-top: 2rem;
        width: 100% !important;
        padding: 0 1rem;
    }

   
    
    .btn-categories-mobile {
        display: flex;
        margin-bottom: 1rem;

        ::ng-deep button.p-button {
            background-color: $secondary-color !important;
        }
    }

    ::ng-deep .drawer-mobile {
        background-color: $secondary-color  !important;
    }
}