$base-color: #111827;
$secondary-color: #1E2837;
$secondary-dark: #15151e;
$text-primary-color: #EFEFEF;
$text-secondary-color: #dfdfdfb4;
$text-semi-dark-gray: #9CA3AF;
$aux-color-primary: #00B7DC;
$aux-color-secondary: #EE6F17