@use 'variables' as *;
@use 'colors' as *;

:host ::ng-deep .fc {
  background-color: $secondary-color;
  color: #FFFFFF;
  padding: 2rem;
  border-radius: 0 0  $default_border_radius $default_border_radius;
}

:host ::ng-deep .fc-toolbar-title {
  color: #FFFFFF;
}

:host ::ng-deep .fc-daygrid-day-number {
  color: #FFFFFF;
}

:host ::ng-deep .fc-scrollgrid {
  border-color: #2E3B4F;
}

:host ::ng-deep .fc-scrollgrid td,
:host ::ng-deep .fc-scrollgrid th {
  border-color: #2E3B4F;
}

::ng-deep .fc-button {
    background: none !important;
}

::ng-deep .fc-day {
    border: 2px solid #343a46 !important;
}

::ng-deep .fc-event {
    width: 15px;
    border-radius: 99px;
    height: 15px;
}

::ng-deep .fc-col-header-cell  {
    border-bottom: 1px solid #2E3B4F;

    &.fc-day {
        border: none !important
    }

    .fc-col-header-cell-cushion {
        text-transform: uppercase !important;
        text-decoration: none !important;
        color: $aux-color-secondary;
    }
}

::ng-deep .fc-daygrid-day-frame {
    padding: 0.5rem;

    .fc-daygrid-day-events {
        display: flex;
        gap: 0.2rem;
    }

    .fc-daygrid-day-top {
        flex-direction: row;
    }

    .fc-daygrid-day-number {
        text-decoration: none !important;
        font-size: 1.1rem;
        font-weight: $fw_bold;
    }
}


.calendar {
    &__title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        font-weight: $fw_bold;
    }

    &__table-container {
        background-color: $secondary-color;
        width: 100%;
        // display: flex;
        align-items: center;
        justify-content: center;
    }
}

.legend {
    background-color: $secondary-color;
    padding-top: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: $default_border_radius $default_border_radius 0 0;

    .legend__dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: inline-block;
    }
}


.timeline {
    display: flex;
    flex-direction: column;
    gap: 2rem;

     &__title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        font-weight: $fw_bold;
    }

    &__card {
        background-color: $secondary-color !important;
    }

    &__events-group {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;
        width: 100%;
        padding-top: 2.3rem;
    }
}

.timeline-card {
    display: grid;
    grid-template-columns: 1fr 5fr 0.4fr;
    background-color: $secondary-color;
    border-radius: $default_border_radius;
    cursor: pointer;
    text-decoration: none;


    &__image {
        width: 100%;
        height: 100%;
        border-radius: $default_border_radius 0 0 $default_border_radius
    }

    &__text-box {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    &__title {
        font-size: 1.1rem;
        font-weight: $fw_bold;
    }

    &__subtitle {
        font-size: 0.9rem;
        font-weight: $fw_light;

        &-bold {
            font-weight: $fw_extra_bold;
            color: $aux-color-primary;
        }
    }

    &__icon {
        span {
            color: #2E3B4F;
        }
    }
}

:host ::ng-deep {
    .custom-marker {
        width: 10rem;
        text-align: center;
        margin-bottom: 5px;
        font-size: 1.3rem;
        color: $aux-color-secondary;
        font-weight: $fw_bold;
    }

    .p-timeline-left .p-timeline-event {
        grid-template-columns: auto 1fr;
        column-gap: 2rem;
    }

    .p-timeline-event-opposite {
        display: none;
    }
}

:host ::ng-deep {
    .p-timeline-event-connector {
        background-color: #2E3B4F;
        width: 2px !important;
    }

    .p-timeline-left .p-timeline-event {
        grid-template-columns: auto 1fr;
        column-gap: 2rem;
    }

    .p-timeline-event-opposite {
        display: none;
    }
}


// MEDIA QUERIES
@media (max-width: 767px) {
  .calendar {
    &__title {
      font-size: 1.6rem;
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
      text-align: center;
    }
  }


  // CALENDAR
  :host ::ng-deep .fc {
    padding: 0.6rem;
  }

  :host ::ng-deep .fc-toolbar-title {
    font-size: 1.4rem !important;
  }

  :host ::ng-deep .fc .fc-view-harness  {
    min-height: 480px !important;
  }

  ::ng-deep .fc-daygrid-day-frame {
    padding: 0.1rem;

    .fc-daygrid-day-events {
      gap: 1px;
    }

    .fc-daygrid-day-number {
      font-size: 0.8rem;
    }
  }

  ::ng-deep .fc-event {
    width: 9px;
    height: 9px;
  }


  // TIMELINE:
  .timeline {
    gap: 1.5rem;

    ::ng-deep .p-timeline-event {
      flex-direction: column;
    }

    ::ng-deep .p-timeline-event-connector {
      display: none !important;
    }

    &__title {
      font-size: 1.6rem;
      text-align: center;
      margin-bottom: 0;
    }

    &__events-group {
      margin-bottom: 2.5rem;
      padding-top: 0;
      gap: 0.9rem;
    }

  }

  .timeline-card {
    display: grid;
    padding-right: 0.8rem;
    grid-template-columns: 0.1fr 5fr 0.4fr;


    &__image {
      display: none;
    }
  }
}
