@use 'variables' as *;
@use 'colors' as *;

.box-title {
  h1 {
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
  }
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 2rem;

     &__title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        font-weight: $fw_bold;
    }

    &__card {
        background-color: $secondary-color !important;
    }

    &__events-group {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;
        width: 100%;
        padding-top: 2.3rem;
    }
}

.timeline-card {
    display: grid;
    grid-template-columns: 1fr 5fr 0.4fr;
    background-color: $secondary-color;
    border-radius: $default_border_radius;
    cursor: pointer;
    text-decoration: none;


    &__image {
      width: 100%;
      border-radius: $default_border_radius 0 0 $default_border_radius;
      height: auto;
      display: block;
      object-fit: cover;
    }

    &__text-box {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    &__title {
        font-size: 1.1rem;
        font-weight: $fw_bold;
    }

    &__subtitle {
        font-size: 0.9rem;
        font-weight: $fw_light;

        &-bold {
            font-weight: $fw_extra_bold;
            color: $aux-color-primary;
        }
    }

    &__icon {
        span {
            color: #2E3B4F;
        }
    }
}

:host ::ng-deep {
    .custom-marker {
        width: 10rem;
        text-align: center;
        margin-bottom: 5px;
        font-size: 1.3rem;
        color: $aux-color-secondary;
        font-weight: $fw_bold;
    }

    .p-timeline-left .p-timeline-event {
        grid-template-columns: auto 1fr;
        column-gap: 2rem;
    }

    .p-timeline-event-opposite {
        display: none;
    }
}

:host ::ng-deep {
    .p-timeline-event-connector {
        background-color: #2E3B4F;
        width: 2px !important;
    }

    .p-timeline-left .p-timeline-event {
        grid-template-columns: auto 1fr;
        column-gap: 2rem;
    }

    .p-timeline-event-opposite {
        display: none;
    }
}

.calendar__month-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.month-nav__btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: inherit;
  background-color: $secondary-color;
  border-radius: 5px;
  padding: 0 0.8rem;
}

.month-nav__label {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
}

::ng-deep .p-progressspinner-circle {
  stroke: $aux-color-primary !important;
}


// MEDIA QUERIES
@media (max-width: 767px) {
  .box-title {
    h1 {
      font-size: 1.6rem;
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
      text-align: center;
    }
    span {
      width: 100% !important;
    }
  }


  // CALENDAR
  :host ::ng-deep .fc {
    padding: 0.6rem;
  }

  :host ::ng-deep .fc-toolbar-title {
    font-size: 1.4rem !important;
  }

  :host ::ng-deep .fc .fc-view-harness  {
    min-height: 480px !important;
  }

  ::ng-deep .fc-daygrid-day-frame {
    padding: 0.1rem;

    .fc-daygrid-day-events {
      gap: 1px;
    }

    .fc-daygrid-day-number {
      font-size: 0.8rem;
    }
  }

  ::ng-deep .fc-event {
    width: 9px;
    height: 9px;
  }


  // TIMELINE:
  .timeline {
    gap: 1.5rem;

    ::ng-deep .p-timeline-event {
      flex-direction: column;
    }

    ::ng-deep .p-timeline-event-connector {
      display: none !important;
    }

    &__title {
      font-size: 1.6rem;
      text-align: center;
      margin-bottom: 0;
    }

    &__events-group {
      margin-bottom: 2.5rem;
      padding-top: 0;
      gap: 0.9rem;
    }

  }

  .timeline-card {
    display: grid;
    padding-right: 0.8rem;
    grid-template-columns: 0.1fr 5fr 0.4fr;


    &__image {
      display: none;
    }
  }
}
