<div class="calendar-content d-flex flex-column gap-5">
    <div class="calendar">
        <h1 class="calendar__title">Calendário de Corridas</h1>

        <div class="legend d-flex gap-4 justify-center align-items-center">
            <div
                class="d-flex align-items-center gap-1"
                *ngFor="let categoria of categoriasLegenda"
            >
                <span class="legend__dot" [style.background-color]="categoria.cor"></span>
                <span>{{ categoria.nome }}</span>
            </div>
        </div>


        <ng-container *ngIf="calendarReady">
            <div class="calendar__table-container">
                <full-calendar [options]="calendarOptions" ></full-calendar>
            </div>
        </ng-container>

    </div>

    <div class="timeline">
        <h1 class="timeline__title">Corridas em {{currentMonthSelected | capitalize}}</h1>

        <div *ngIf="listEventsPerWeek?.length != 0; then blockTimeline else msgEmpty"></div>
        <ng-template #blockTimeline>
            <p-timeline [value]="listEventsPerWeek" align="left">
                
                <ng-template pTemplate="marker" let-periodo>
                    <span class="custom-marker">
                        {{ periodo.dateInic | date: 'dd/MM' }} - {{ periodo.dateFinal | date: 'dd/MM' }}
                    </span>
                </ng-template>

                <ng-template pTemplate="content" let-periodo>
                    <div class="timeline__events-group">
                        <a *ngFor="let evento of periodo.events" class="timeline-card" [routerLink]="['/race', evento.id]">
                            <div>
                                <img 
                                class="timeline-card__image" 
                                [src]="'assets/categories/' + (evento.categoryShort | categoryImage)" 
                                alt="Imagem do circuito" />
                            </div>
                            
                            <div class="timeline-card__text-box">
                                <div class="timeline-card__subtitle">
                                    <span class="timeline-card__subtitle-bold">{{ evento.categoryName }}</span> - {{ evento.city }}, {{ evento.country }}
                                </div>
                                <div class="timeline-card__title">{{ evento.name }}</div>
                                <div class="timeline-card__date">
                                    {{ evento.dateInitial | date: 'dd/MMM' }}  à  {{ evento.dateFinal | date: 'dd/MMM' }}
                                </div>
                            </div>

                            <div class="timeline-card__icon d-flex w-100 h-100 align-items-center justify-content-center">
                                <span class="material-symbols-rounded">arrow_forward_ios</span>
                            </div>
                        </a>
                    </div>
                </ng-template>
            </p-timeline>
        </ng-template>
        <ng-template #msgEmpty>
            <div class="mb-5">
                <span>Sem dados de corridas para este mês</span>
            </div>
        </ng-template>
        
    </div>


</div>