<div class="calendar-content d-flex flex-column gap-3">
    <div class="box-title d-flex justify-content-center flex-column align-items-center text-center">
        <h1>Calendário do Automobilismo</h1>
        <span class="w-75">Explore o calendário completo de corridas e acompanhe, mês a mês, tudo o que acontece no mundo do automobilismo.</span>
    </div>
    <div class="calendar__month-nav">
        <button class="month-nav__btn" (click)="changeMonth(-1)">
            <span class="material-symbols-rounded">chevron_left</span>
        </button>

        <span class="month-nav__label">
            {{ currentMonthLabel }}
        </span>

        <button class="month-nav__btn" (click)="changeMonth(1)">
            <span class="material-symbols-rounded">chevron_right</span>
        </button>
    </div>

    <div *ngIf="isLoading" class="w-100 d-flex align-items-center justify-content-center">
            <p-progress-spinner strokeWidth="8" styleClass="custom-spinner" color="#00B7DC" fill="transparent"
            animationDuration=".5s" [style]="{ width: '90px', height: '50px', color: '#00B7DC'}" />
    </div>

    <div class="timeline" *ngIf="!isLoading">
        <div *ngIf="listEventsPerWeek?.length != 0; then blockTimeline else msgEmpty"></div>
        
        <ng-template #blockTimeline >
            <p-timeline [value]="listEventsPerWeek" align="left">
                
                <ng-template pTemplate="marker" let-periodo>
                    <span class="custom-marker">
                        {{ periodo.dateInic | date: 'dd/MM' }} - {{ periodo.dateFinal | date: 'dd/MM' }}
                    </span>
                </ng-template>

                <ng-template pTemplate="content" let-periodo>
                    <div class="timeline__events-group">
                        <a *ngFor="let evento of periodo.events" class="timeline-card" [routerLink]="['/race', evento.slug]">
                            <div>
                                <img 
                                class="timeline-card__image" 
                                [src]="'assets/categories/' + (evento.categoryShort | categoryImage)" 
                                alt="Imagem do circuito" />
                            </div>
                            
                            <div class="timeline-card__text-box">
                                <div class="timeline-card__subtitle">
                                    <span class="timeline-card__subtitle-bold">{{ evento.categoryName }}</span> - {{ evento.city }}, {{ evento.country }}
                                </div>
                                <div class="timeline-card__title">{{ evento.name }}</div>
                                <div class="timeline-card__date">
                                    <span class="card-main__time">{{formatDateInfo(evento.dateInitial, 'dayMonthLong')}} à {{formatDateInfo(evento.dateFinal, 'dayMonthLong')}}</span>
                                </div>
                            </div>

                            <div class="timeline-card__icon d-flex w-100 h-100 align-items-center justify-content-center">
                                <span class="material-symbols-rounded">arrow_forward_ios</span>
                            </div>
                        </a>
                    </div>
                </ng-template>
            </p-timeline>
        </ng-template>
        <ng-template #msgEmpty>
            <div class="mb-5 text-center text-gray-500">
                <span>Sem corridas para este mês</span>
            </div>
        </ng-template>
        
    </div>


</div>