<div class="calendar">
    <h1 class="calendar__title">Calendário de Corridas</h1>

    <div class="legend d-flex gap-4 justify-center align-items-center">
        <div class="d-flex align-items-center gap-1">
            <span class="legend__dot" style="background-color: #EE6F17;"></span>
            <span>F1</span>
        </div>
        <div class="d-flex align-items-center  gap-2">
            <span class="legend__dot" style="background-color: #1E90FF;"></span>
            <span>Stock Car</span>
        </div>
        <div class="d-flex align-items-center  gap-2">
            <span class="legend__dot" style="background-color: #32CD32;"></span>
            <span>Nascar Brasil</span>
        </div>
    </div>


    <full-calendar [options]="calendarOptions"></full-calendar>

</div>