<div  id="container-footer" class="container-footer">
    <div class="box-left">
<!--        <img class="logo" src="assets/logos/logo-2.png" alt="">-->
        <span>&copy; 2025 Fullap. Todos os direitos reservados</span>
        <div>
          <p>Desenvolvido por: <a>Diego Alves</a></p>
            <div class="d-flex justify-content-center gap-2">
                <div><a href="https://www.linkedin.com/in/diegoalves-dc" target="_blank" class="social-icon pi pi-linkedin"></a> </div>
                <div><a href="https://github.com/diegodc1 " target="_blank" class="social-icon pi pi-github"></a> </div>
            </div>
        </div>
    </div>
</div>
