@use 'colors' as *;
@use 'variables' as *;

.container-card {
    display: grid;
    grid-template-columns: 1fr 0.15fr;
    max-height: 12rem;
    width: 100%;
    text-decoration: none;

    background-color: $secondary-color;
    border-radius: $default_border_radius;
    
    transition: linear all 0.2s;
    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }


    .card-box-left  {
        padding: 1.2rem 1rem;

        .card-header {
            #card-title {
                font-size: 1.4rem ;
            }
        }

        .card-box-date {
            max-height: 5rem;

            .mini-card__box {
                background: #00D1FC;
                background: linear-gradient(90deg,rgba(0, 209, 252, 1) 19%, rgba(0, 183, 220, 1) 56%, rgba(0, 150, 181, 1) 94%);
                border-radius: $default_border_radius;
                padding: 0.2rem 1.4rem 0.1em 1.4rem;
                gap: 0 !important;
                max-width: 5.5rem;
                text-align: center;

                .mini-card__day {
                    font-size: 1.6rem;
                    font-weight: 900;
                    line-height: 1.5rem;
                }

                .mini-card__month {
                    font-size: 1rem;
                    font-weight: 900;
                    line-height: 1.2rem;
                }

                .mini-card__week-day {
                    font-size: 0.8rem;
                    font-weight: 300;
                    line-height: 1rem;
                }
            }
            
        }

        .card-box-main {
            gap: 0.3rem;
            .card-main__race {
                font-size: 1.1rem;
                font-weight: 700;
            }

            .card-main__circuit {
                font-size: 1rem;
                font-weight: 300;
            }

            .card-main__time {
                font-size: 1rem;
                font-weight: 300; 
            }

            .card-main__img {
                margin-left: 0.2rem;
                height: 60%;
                width: 1.5rem;
                border-radius: 4px;
            }
        }
    }
}


.card-icon  {
    color: $text-semi-dark-gray;
}

.container-card.disabled {
    opacity: 0.6;                  
    filter: grayscale(1) brightness(0.9);  
}

.message-empty {
    font-weight: 700;
    color: $text-semi-dark-gray;
    margin-top: 1rem;
}



// MEDIA QUERIES 
@media (max-width: 767px) {
    .container-card {

        .card-box-left {
            padding-right: 0 !important;
        }
    }

    .card-body {
        gap: 1rem;
        align-items: center !important;
    }


    .mini-card__box {
        padding: 0.5rem 1rem 0.5rem 0.8rem !important;
        gap: 0 !important;
        max-width: 5.5rem;
        text-align: center;

        .mini-card__day {
            font-size: 1.3rem !important;
            font-weight: 900;
            line-height: 1.5rem;
        }

        .mini-card__month {
            font-size: 0.8rem !important;
            font-weight: 900;
            line-height: 1.2rem;
        }

        .mini-card__week-day {
            font-size: 0.7rem !important;
            font-weight: 500;
            line-height: 1rem;
            white-space: nowrap;           
            overflow: hidden;              
            text-overflow: ellipsis;       
            display: block;                
            max-width: 3rem;   
        }
    }

    .card-main__circuit {
        white-space: nowrap;           
        overflow: hidden;              
        text-overflow: ellipsis;       
        display: block;                
        max-width: 10rem; 
    }

    .card-main__time {
        white-space: nowrap;           
        overflow: hidden;              
        text-overflow: ellipsis;       
        display: block;                
        max-width: 11rem; 
    }
}