
<div class="d-flex w-100 flex-column align-items-center">
  <div class="container-main w-100 align-items-center pb-5 d-flex flex-column gap-2">

    <div class="container-week-races w-100 d-flex flex-column gap-4 mt-4">
      <div class="header-week-races d-flex justify-content-between">
        <div class="box-title d-flex flex-column">
          <h1 class="m-0">Corridas desta Semana</h1>
          <span class="fw-lighter">As principais corridas que acontecem de {{weekDateInit}} a {{weekDateFinal}} de {{weekDateMonth}} de 2025</span>
        </div>
        <div class="box-search d-flex align-items-end">
          <div class="box-input-search">
            <span class="material-symbols-rounded fw-lighter">search</span>
            <input id="input-search" placeholder="Buscar Categoria" type="text"/>
          </div>
        </div>
      </div>

      <!-- LOADING -->
      <div *ngIf="isLoading" class="w-100 d-flex align-items-center justify-content-center">
        <p-progress-spinner strokeWidth="8" styleClass="custom-spinner" color="#00B7DC" fill="transparent"
          animationDuration=".5s" [style]="{ width: '90px', height: '50px', color: '#00B7DC'}" />
      </div>

      <div *ngIf="!isLoading && listEventsOfWeek?.length === 0" class="text-center mt-4">
        Nenhuma corrida encontrada para esta semana 😢
      </div>

      <div *ngIf="!isLoading && listEventsOfWeek.length > 0" class="main-week-races d-flex flex-column gap-4">
        <app-card-race-week *ngFor="let event of listEventsOfWeek"
          [cardTitle]="event.category.name"
          [cardTime]="formatTime(getRaceSessionTime(event))"
          [cardRaceDay]="formatDateInfo(getRaceSessionTime(event), 'day')"
          [cardRaceMonth]="formatDateInfo(getRaceSessionTime(event), 'month')"
          [cardRaceWeekDay]="formatDateInfo(getRaceSessionTime(event), 'weekday')"
          [cardImagePath]="event.category.categoryShort"
          [cardRaceName]="event.name"
          [cardCircuit]="event.circuitName + ' - ' + event.country"
          [cardRaceId]="event.id"
        ></app-card-race-week>
      </div>
    </div>


    <div class="divider-box w-100 d-flex align-items-center w-100 justify-content-center gap-2 mt-4">
      <span class="line"></span>
      <a class="card-footer__details">Ver todas as corridas</a>
      <span class="line"></span>
    </div>


    <div class="container-categories w-100 d-flex flex-column gap-4 mt-5">
     <div class="header-categories d-flex justify-content-between">
        <div class="box-title d-flex flex-column">
          <h1 class="m-0">Categorias</h1>
          <span class="fw-lighter">Acompanhe as principais categorias do mundo</span>
        </div>
      </div>
      <div class="main-categories">
        <app-card-category cardCategoryName="Fórmula 1" cardCategoryImagePath="formula1/ferrari-2.jpg" cardCategoryShortName="FORMULA1"></app-card-category>
        <app-card-category cardCategoryName="Stock Car" cardCategoryImagePath="stock-car/stock-car-1.jpg" cardCategoryShortName="STOCK_CAR"></app-card-category>
        <app-card-category cardCategoryName="Fórmula Indy" cardCategoryImagePath="formula-indy/formula-indy-1.jpg" cardCategoryShortName="FORMULA_INDY"></app-card-category>
        <app-card-category cardCategoryName="Porsche Cup" cardCategoryImagePath="porsche-cup/porsche-cup-nao-usar.jpg" cardCategoryShortName="PORSCHE_CUP"></app-card-category>
        <app-card-category cardCategoryName="Fórmula 1" cardCategoryImagePath="formula1/ferrari.jpg" cardCategoryShortName="FORMULA1"></app-card-category>
        <div class="card-more-category-container d-flex flex-column gap-1 align-items-center justify-content-center">
            <span class="material-symbols-rounded card-icon">arrow_circle_right</span>
            <span class="card-more-category-title text-center">Ver todas as categorias</span>
        </div>
      </div>
    </div>

  </div>
</div>