
<div class="d-flex w-100 flex-column align-items-center">
  <div class="container-main w-100 align-items-center pb-5 d-flex flex-column gap-2">

    <div class="container-week-races w-100 d-flex flex-column gap-4 mt-4">
      <div class="header-week-races d-flex justify-content-between">
        <div class="box-title d-flex flex-column">
          <h1 class="m-0">Corridas desta Semana</h1>
          <span class="fw-lighter">As principais corridas que acontecem de 03 a 09 de Julho de 2025</span>
        </div>
        <div class="box-search d-flex align-items-end">
          <div class="box-input-search">
            <span class="material-symbols-rounded fw-lighter">search</span>
            <input id="input-search" placeholder="Buscar Categoria" type="text"/>
          </div>
        </div>
      </div>

      <div class="main-week-races d-flex flex-column gap-4">
        <app-card-race-week
          cardTitle="Formula 1"
          cardTime="18:30"
          cardRaceDay="30"
          cardRaceMonth="JUL"
          cardRaceWeekDay="Sábado"
          cardImagePath="formula1/ferrari.jpg"
          cardRaceName="GP da Grã-Bretanha"
          cardCircuit="Autódromo de Silverstone - Inglaterra"
          cardRaceId=0>
        </app-card-race-week>

        <app-card-race-week
          cardTitle="Formula 1"
          cardTime="18:30"
          cardRaceDay="30"
          cardRaceMonth="JUL"
          cardRaceWeekDay="Sábado"
          cardImagePath="formula1/ferrari.jpg"
          cardRaceName="GP da Grã-Bretanha"
          cardCircuit="Autódromo de Silverstone - Inglaterra"
          cardRaceId=0>
        </app-card-race-week>

        <app-card-race-week
          cardTitle="Stock Car"
          cardTime="13:30"
          cardRaceDay="31"
          cardRaceMonth="JUL"
          cardRaceWeekDay="Domingo"
          cardImagePath="stock-car/stock-car-1.jpg"
          cardRaceName="Etapa de Cascavel"
          cardCircuit="Autódromo Internacional de Cascavel - Brasil"
          cardRaceId=0>
        </app-card-race-week>
      </div>
    </div>


    <div class="divider-box w-100 d-flex align-items-center w-100 justify-content-center gap-2 mt-4">
      <span class="line"></span>
      <a class="card-footer__details">Ver todas as corridas</a>
      <span class="line"></span>
    </div>


    <div class="container-categories w-100 d-flex flex-column gap-4 mt-5">
     <div class="header-categories d-flex justify-content-between">
        <div class="box-title d-flex flex-column">
          <h1 class="m-0">Categorias</h1>
          <span class="fw-lighter">Acompanhe as principais categorias do mundo</span>
        </div>
      </div>
      <div class="main-categories">
        <app-card-category cardCategoryName="Fórmula 1" cardCategoryImagePath="formula1/ferrari-2.jpg" cardHref="/"></app-card-category>
        <app-card-category cardCategoryName="Stock Car" cardCategoryImagePath="stock-car/stock-car-1.jpg"></app-card-category>
        <app-card-category cardCategoryName="Fórmula Indy" cardCategoryImagePath="formula-indy/formula-indy-1.jpg"></app-card-category>
        <app-card-category cardCategoryName="Porsche Cup" cardCategoryImagePath="porsche-cup/porsche-cup-nao-usar.jpg"></app-card-category>
        <app-card-category cardCategoryName="Fórmula 1" cardCategoryImagePath="formula1/ferrari.jpg"></app-card-category>
        <div class="card-more-category-container d-flex flex-column gap-1 align-items-center justify-content-center">
            <span class="material-symbols-rounded card-icon">arrow_circle_right</span>
            <span class="card-more-category-title text-center">Ver todas as categorias</span>
        </div>
      </div>
    </div>

  </div>
</div>