<div class="d-flex w-100">
    <div class="race-infos-container">
        <div class="race-details-box">
            <span>Fórmula 1</span>
            <h1>Grande Prêmio de São Paulo</h1>

            <div class="local-date-box">
                <div class="d-flex gap-1">
                    <span class="material-symbols-rounded">calendar_month</span>      
                    <div class="d-flex flex-column gap-2">
                        <span>Data</span>
                        <span>14 a 16 de Novembro, 2025</span>
                    </div>
                </div>
                <div class="d-flex gap-1">
                    <span class="material-symbols-rounded">location_on</span>      
                    <div class="d-flex flex-column gap-2">
                        <span>Local</span>
                        <span>São Paulo, Brasil</span>
                    </div>
                </div>
            </div>

            <div class="watch-box d-flex gap-2">
                <app-card-watch watchTitle="BandSports" watchIcon="live_tv" watchColor="#EE6F17"></app-card-watch>
                <app-card-watch watchTitle="Grande Prêmio" watchIcon="live_tv" watchColor="#b93530"></app-card-watch>
            </div>
        </div>
        <div class="race-circuit-box"></div>
    </div>
</div> 